
aside {
    position: relative; /* If you want text inside of it */
    border: 10px solid #b6bdc3;
    background-color: red;
    width: 100%;
    /* padding-top:100%; */
    /* margin: 0 auto; */
    
}
  
  /* Required to make image fluid in IE */
object {
    /* max-width: 400px; */
    width: 100%;

}
.zoomInHand{
    width: 300%;
    animation: zoomin 1s;
}


@keyframes zoomin{
    0%{width: 100%}
    100%{width: 300%}
}


