
aside {
    border: 10px solid #b6bdc3;
    /* width: 100%; */
    background: #fff;
    /* margin: 0 auto; */
}
  
  /* Required to make image fluid in IE */
  
object {
    width: 100%;
}
.zoomInHand{
    width: 300%;
    animation: zoomin 1s;
}
#innersvg{
    margin: 10px;
    overflow: hidden;
    height: 300px;
}

@keyframes zoomin{
    0%{width: 100%}
    100%{width: 300%}
}


