html{height: 100%;}
body{
    font-family: 'Roboto', sans-serif;
    color: #EFF8FF;
    top:0;
    background: #41567C;
    height: 100%;
}
header{
    position: relative;
    top: 0;
    padding: 10px;
    background-image: url(/assets/images/dark-paths.png);
}
#header{
    position: relative;
    top: 0;
    height: 130px;;
    padding-right: 150px;
    /* background-color: #12283A; */

}
img{
    height: 100%
}
#titleimg{
    height: 150px;;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    /* background-image: url("/assets/images/rps.png"); */
    -moz-box-shadow:inset 0px 0px 6px 6px rgba(255,255,255,1);
    -webkit-box-shadow:inset 0px 0px 6px 6px rgba(255,255,255,1);
    box-shadow: 0px 0px 10px red;
    /* width: 300px; */
    /* height: 300px; */
}
h2{
    height: 35px;
    overflow: hidden;
    font-size: 35px;
    font-weight: 900;
    padding-bottom: 10px;
    margin: 15px;
    position: relative;
}
#header h2 span{
    position: absolute;
    top: 35px;
    animation:roll 5s linear infinite;
}
#header h2 span:nth-child(1){
    animation-delay: 1s;
}
#header h2 span:nth-child(2){
    animation-delay: 2s;
}
#header h2 span:nth-child(3){
    animation-delay: 3s;
}
#header h2 span:nth-child(4){
    animation-delay: 4s;
}
#header h2 span:nth-child(5){
    animation-delay: 5s;
}

h3{
    font-size: 20px;
    padding-bottom: 10px;
    margin: 15px;
    position: relative;
}
p{
    padding: 2px;
}
#loginDiv{
    position: absolute;
    right: 40px;
    top: -10px;
    /* border: 5px solid #BCDEFA;  */
    padding: 5px;
    background: #1C3D5A;
}
#loginDiv #logoutBtn{
    display: none;
}
#loginForm{
    position:fixed; 
    top: 20%; 
    left: 20%; 
    right: 20%;
    z-index: 100;
    background:#EFF8FF;
    /* border:10px solid #41567C; */
    padding:10px
}
#loginForm .loginInput{
    width: 80%;
    margin-bottom: 10px;
}
#closelogin{
    position: absolute;
    right:0;
    margin-right: 10px;
}
#loginForm #loginnamegroup{
    display: none;
}

.container{
    margin-top: 10px;
    background-color: #AFC0E1;
    min-height: 70%;
}
#sessionDiv{
    padding: 15px;
}


#resultDiv{
    display: none;
} 

input[type=submit],
button{
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #2779BD;
    color:#12283A;
}

button:hover{
    background-color: #3490DC;
}

aside {
    position: relative; /* If you want text inside of it */
    border: 6px solid #12283A;
    padding: 10px;
}
#gameDiv{
    visibility: hidden;
}
  /* Required to make image fluid in IE */
object {
    /* max-width: 400px; */
    width: 100%;
    /* width: fit-content; */

}

#resultDiv{
    text-align: center;
    width: 100%;
}
.zoomInHand{
    width: 300%;
    animation: zoomin 1s;
}
#chat{
    position: relative;
}
#chatForm{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}




@keyframes zoomin{
    0%{width: 100%}
    100%{width: 300%}
}


@keyframes roll{
    0%{
        top: 35px
    }
    10%,15%{
        top: 0px;
    }
    20%,100%{
        top: -45px;
    }
}








@media (min-width: 576px){
    #header {
        max-width: 540px;
        margin-left:auto;
        margin-right: auto; 
    }
}
@media (min-width: 768px){
    #header {
        max-width: 720px;
        margin-left:auto;
        margin-right: auto; 
    }
}

@media  screen and (min-width: 992px){
    #header {
        max-width: 960px;
        margin-left:auto;
        margin-right: auto; 
    }
}
@media screen and (min-width: 1200px){
    #header {
        max-width: 1140px;
    }
}